div {
    border: 1px solid white;
    padding: 10px;
}
.flex_container_1 {
    font: 100;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.flex_container_1_logo {
    display: flex;
    align-items: flex-start;
    padding-left: 40px;
}
.flex_container_1_not_logo {
   display: flex;
   justify-content: space-between;
   padding-right: 100px;
}
.flex_container_1_not_logo > div {
  padding: 25px;
  align-items: flex-start;
  color: rgb(155, 37, 37);
  }
.Home_a{
  color: rgb(175, 96, 151);
  font-weight: bold; 
  text-decoration: none; 
}
.Nav_a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    width: 75px;
    height: 25px;
}
.Header_main {
    font-size: x-large;
    position: relative;
    top: -15px;
}
.Header_secondary {
    color: blue;
    font-size: small;
    position: relative;
    top: -30px;
}
.flex_container_2 {
    display: flex;
    flex-direction: column;
    padding-left: 175px;
    height: 100px;
    justify-content: flex-start;
}
.flex_container_3 {
    flex-direction: flex;
    padding-top: 50px;
    justify-content: center;
}

.top_left_image {
height: 400px;
width: 60px:
}

.top_right_image {
    height: 300px;
width: 60px:
}

.bottom_right_image {
    height: 400px;
width: 60px:
}

.bottom_left_image {
    height: 400px;
width: 60px:
}
